body {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	/*background: orange;*/
	margin: 0;	
}

.container {
	min-height: 100%;
	background-color: lightgrey;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


h1 {
	margin: 0 0 150px 0;
	padding: 10px 0;
}

.answer-options {
	background-color: #fff;
	width: 50%;
	margin: 10px auto;
	padding: 20px;
}

button {
	padding: 20px 30px;
}